/* Header */
header {width: 100%; height: 110px; border-bottom: solid 2px #1fabe6;}
.head-body {width: 1080px; height: 100%; margin: 0 auto;}
.head-body img {width: 153px; height: 51px; margin: 17px 0 0 0;}
.nav > li {float: left; padding: 10px;}
.nav > li > a:hover {color: red; cursor: pointer;}
img {width: 100%;}

/* Main */
.main {width: 1080px; margin: 0 auto; padding: 40px;}
.register-head > div {width: 50%; height: 50px; line-height: 50px; text-align: center; float: left; 
  background-color: #ebeff2; font-size: 16px; position: relative;}
.register-head > div:last-child:before {content: ""; display: inline-block; width: 0; height: 0; position: absolute; top: 0; left: 0;
  border-top: 25px solid transparent; border-left: 32px solid #ebeff2; border-bottom: 25px solid transparent;}
.current-status + div:before {border-left: 32px solid #1fabe5!important;}
.register-head > div > span {display: inline-block; width: 30px; height: 30px; line-height: 30px; background-color: #fff; border-radius: 50%; margin-right: 8px; color: #000;}
.current-status {background-color: #1fabe5!important; color: #fff;}
.register-info-box {margin-top: 32px; font-size: 16px;}
.register-inner-box {width: 440px; margin: 0 auto;}
.form-input {margin-bottom: 20px; position: relative;}
.form-input > label {display: inline-block; width: 110px; text-align: right;}
.form-input > label > em {color: red; margin-right: 5px;}
.form-input > input {width: 300px; height: 18px; padding: 10px 5px; vertical-align: middle; border: solid 1px #e5e5e5; box-sizing: content-box; font-size: 14px;}
.auth-code > input {width: 100px;}
.auth-code > div {width: 100px; height: 40px; display: inline-block; vertical-align: middle; margin-right: 6px;}
#changeCaptcha {cursor: pointer;}
#changeCaptcha:hover {color: red; text-decoration: underline;}
.get-code-btn {display: inline-block; width: 100px; background-color: #ffa803; height: 40px; line-height: 40px; text-align: center; color: #fff; cursor: pointer;}
.get-code-btn.disabled {background-color: #CEC9C9 !important;}
#uMobileCode {width: 197px;}
.agree {width: 300px; margin: 0 auto;}
.agree .error {left: 375px;top: 3px;}
.agree > span > a {color: #1fabe5;}
#agree {width: 20px;}
input.error {border-color: red;}
label.error {position: absolute; top: 12px; left: 445px; width: 200px; color: red; text-align: left; font-size: 12px;}
.register-btn {width: 236px; height: 40px; line-height: 40px; text-align: center; color: #fff; cursor: pointer; background-color: #ffa803; margin: 20px auto; font-size: 18px; border-radius: 5px; display: block; border: 0;}
.user-agreement {position: absolute; top: 10%; left: 50%; width: 600px; height: 500px; margin-left: -300px; z-index: 1000; background-color: #fff; display: none; border-radius: 5px;}
.close {width: 200px; height: 40px; line-height: 40px; text-align: center; color: #fff; background-color: #ec584e; cursor: pointer; margin: 20px auto; font-size: 18px; border-radius: 5px; display: block; border: 0;}
.user-agreement > h3 {text-align: center;}
.user-agreement > p {height: 360px; overflow-x: hidden; overflow-y: scroll; text-indent: 15px; padding: 10px 40px; line-height: 1.4; border-bottom: solid 1px #ededed;}
/* 注册成功 */
.suc-register {text-align: center; margin-top: 100px;}
.suc-pic {display: inline-block; width: 55px; height: 55px;}
.suc-register > p {display: inline-block; font-size: 24px; font-weight: 600; color: #f68e3a; line-height: 55px; vertical-align: top; margin-left: 10px;}
.login-btn {width: 150px; height: 50px; line-height: 50px; margin: 20px auto; text-align: center;}
.login-btn > a {display: inline-block; width: 100%; height: 100%; background-color: #1fabe5; border-radius: 5px; color: #fff; font-size: 18px;}



