<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>行业分类</title>
	
    <link href="/static/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/static/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/static/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	
</head>
<body>
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create">新增</button>

	<!-- 列表 开始 -->
	<table data-toggle="table" data-url="/goods/industryJson" 
		data-side-pagination="server" 
		data-pagination="true" 
		data-page-list="[10, 20, 50, 100, 200]"
		data-toolbar="#toolbar">
	    <thead>
	        <tr>
	            <th data-field="industryName">分类</th>
	            <th data-field="industryId" data-formatter="operation">操作</th>
	        </tr>
	    </thead>
	</table>
	<!-- 列表 结束 -->
	
	<!-- 新增模态框  开始 -->
	<div class="modal fade" id="create" tabindex="-1" role="dialog" style="width:1000px;"
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	      	 <!-- 标题 -->
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	            	新增行业分类
	            </h4>
	         </div>
	         
	          <!-- 内容  -->
	         <div class="modal-body">
           		<form action="/goods/addIndustry" method="post" role="form" >
                     <div class="form-group">
                         <label>名称：</label>
                         <input type="text" name="industryName" id="industryName" placeholder="请输入名称" class="form-control">
                     </div>
	         </div>
	         
	         <!-- 按钮  -->
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="submit" class="btn btn-primary">保存</button>
	         </div>
	         </form>
	      </div>
		</div>
	</div>
	<!-- 新增模态框  结束 -->
	
	<!-- 编辑模态框  开始 -->
	<div class="modal fade" id="edit" tabindex="-1" role="dialog" style="width:1000px;"
	   aria-labelledby="myModalLabel" aria-hidden="true">
	   <div class="modal-dialog">
	      <div class="modal-content">
	      	 <!-- 标题 -->
	         <div class="modal-header">
	            <button type="button" class="close" 
	               data-dismiss="modal" aria-hidden="true">
	                  &times;
	            </button>
	            <h4 class="modal-title" id="myModalLabel">
	            	编辑行业分类
	            </h4>
	         </div>
	         
	          <!-- 内容  -->
	         <div class="modal-body">
           		<form action="/goods/editIndustry" method="post" role="form" >
                     <div class="form-group">
                         <label>名称：</label>
                         <input type="text" name="industryName" id="industryNameEdit" placeholder="请输入名称" class="form-control">
                     </div>
                     <input type="hidden" name="industryId" id="industryIdEdit" value="">
	         </div>
	         
	         <!-- 按钮  -->
	         <div class="modal-footer">
	            <button type="button" class="btn btn-default" 
	               data-dismiss="modal">关闭
	            </button>
	            <button type="submit" class="btn btn-primary">保存</button>
	         </div>
	         </form>
	      </div>
		</div>
	</div>
	<!-- 编辑模态框  结束 -->
	
	<script>
		//格式化操作
	    function operation(value) {
	        return '<a href="#" class="btn btn-primary" data-target="#edit" onclick="toEdit('+value+')">编辑</a>'+
	        	   '&nbsp;&nbsp;&nbsp;&nbsp;'+
	        	   '<a href="javascript:void(0)" class="btn btn-primary" onclick="delIndustry('+value+')">删除</a>';
	    }
		
	    function toEdit (id) {
			$("#edit").modal({show:true});
			$.ajax({  
                type: "GET",  
                url: "/goods/toIndustryEdit?id="+id, 
                dataType: "json",
                success: function(result) {
                	$("#industryNameEdit").val(result.industryType.industryName);
                	$('#industryIdEdit').val(result.industryType.industryId);
                }  
            });  
		}
		
		//删除类型
		function delIndustry(id) {
			$.ajax({
	             url: "/goods/delIndustry?industryId="+id,
	             type: "GET",
	             dataType: "json",
	             success: function(data) {
	            	 alert(data.message);
	            	 window.location.reload();
	             },
	             error: function(data) {
	            	 console.info(data);
	             }
	         });
		}
	</script>
	<script src="/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/static/js/plugins/summernote/summernote.min.js"></script>
    <script src="/static/js/plugins/summernote/summernote-zh-CN.js"></script>
</body>
</html>