#set($layout = "layout/iframe.html")
<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>#if($course.id) 更新 #else 新建 #end师资风采 <small>-</small></h5>
                    </div>
                    <div class="ibox-content">
                        <form action="/manager/course/operate" method="post"  id="formContro" class="form-horizontal" enctype="multipart/form-data" >
                            #if($course.id)
								#springBind("course.id")
								<input type="hidden" name="${status.expression}" value="$!{status.value}" >
							#end
                            
                            #springBind("course.title")
                            <div class="form-group #fieldHasError(${status.errorMessage})">
                                <label class="col-sm-2 control-label">标题</label>
                                <div class="col-sm-5">
                                    <input type="text"  placeholder="中文描述" class="form-control" name="${status.expression}" value="$!{status.value}" >
                                    <span class="help-block m-b-none error-text">${status.errorMessage}</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                             #springBind("course.time")
                            <div class="form-group #fieldHasError(${status.errorMessage})">
                                <label class="col-sm-2 control-label">设置时间</label>
                                <div class="col-sm-5">
                                    <input type="text"  placeholder="中文描述" class="form-control" name="${status.expression}" value="$!{status.value}" >
                                    <span class="help-block m-b-none error-text">${status.errorMessage}</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                             #springBind("course.sequence")
							<div class="form-group #fieldHasError(${status.errorMessage})">
                                <label class="col-sm-2 control-label">顺序:从大到小排序</label>
                                <div class="col-sm-5">
                                    <input type="text"  placeholder="数字" class="form-control" name="${status.expression}" value="$!{status.value}" >
                                    <span class="help-block m-b-none error-text">${status.errorMessage}</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            #springBind("course.showStatus")
                            <div class="form-group #fieldHasError(${status.errorMessage})">
                                <label class="col-sm-2 control-label">是否显示 </label>
                                <div class="col-sm-10">
                                	#foreach( $show in $showStatus )
                                		#if($course && $course.showStatus==$show)
                                			<div class="radio i-checks">
		                                        <label><input type="radio" checked="checked" value="$!show" name="${status.expression}"> <i></i> $show.getDesc()</label>
		                                    </div>
                                		#else
                                			<div class="radio i-checks">
	                                        	<label><input type="radio" value="$!show" name="${status.expression}"> <i></i> $show.getDesc()</label>
	                                   		</div>
                                		#end
                                	#end
                                	<span class="help-block m-b-none error-text">${status.errorMessage}</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                             #springBind("course.content")
                            <div class="form-group #fieldHasError(${status.errorMessage})">
					            <div class="col-sm-12">
					                <div class="ibox float-e-margins">
					                    <div class="ibox-title">
					                        <h5>概要</h5>
					                    </div>
					                    <div class="ibox-content no-padding">
					                        <div class="summernote">
					                        	$!{status.value}
					                        </div>
					                    </div>
					                    <input type="hidden" id="${status.expression}" name="${status.expression}" >
                                    	<span class="help-block m-b-none error-text">${status.errorMessage}</span>
					                </div>
					            </div>
					        </div>
                            
                           
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="button" onclick="submitForm()">#if($course.id) 更 新 #else 新 建 #end</button>
                                    <button class="btn btn-white" type="button" onclick="history.go(-1);">返回上一页</button>
                                    <button class="btn btn-white" type="button" onclick="parent.layer.closeAll(); parent.layer.open({content:'世界恢复原样 →_→', time:2});  ">关闭</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
	<script>
		function submitForm(){
			var aHTML=$(".summernote").code();
			$("#content").val(aHTML);
			$("#formContro").submit();
		}
	</script>
 	