.detail_content {border-top:2px solid #28aee6;padding-top: 12px;margin-bottom:60px;}
.detail_content_title {line-height:34px;color:#000;font-size:12px;border:1px solid #dddcdc;}
.detail_content_title li {float: left;padding-left:8px;}
.detail_content_title .position {padding:0px 14px 0px 18px;}
.detail_content_left {position: relative;width:780px;margin-top: 12px;}
.accountPhoto {position: absolute;left:0px;top:0px;width:326px;}
.detail_content_right {width: 222px;margin-top: 12px;border:1px solid #dddcdc;}
.detail_content_right_title {line-height:42px;margin:0px 6px;border-bottom:1px solid #dddcdc;font-size:16px;}
.accountProduction {width: 440px;margin-left: 348px;margin-bottom: 55px;}
.accountName {font-size:24px;color:#000;line-height:24px;}
.accountNumber {margin-top: 7px;font-size:12px;line-height:34px;}
.accountStyle {margin-top: 7px;font-size:12px;line-height:46px;}
.accountPrice {width: 440px;height: 54px;background: #fff2e9;margin-left: -8px;padding-left: 8px;line-height:54px;font-size:12px;}
.accountPrice .price {margin-left: 28px;font-size:24px;color:#ff4400;}
.releaseForm {position: relative;line-height:32px;font-size:12px;color:#000;}
.releaseForm_title {position: absolute;left:0px;top:0px;}
.releaseForm ul {margin-left: 60px;}
.releaseForm li {float:left;padding:0px 6px;margin:0px 5px 6px 0px;border:1px solid #dddcdc;cursor: pointer;}
.detail_content_right_classify {padding:0px 12px 10px 20px;margin-left:-8px;margin-top: 12px;}
.detail_content_right_classify li {width: 88px;height:30px;line-height:32px;text-align: center;margin:0px 0px 10px 8px;float: left;border:1px solid #dddcdc;}
.orderBtn {width: 172px;height: 36px;display:block;line-height:36px;margin:45px 0px 0px 70px;text-align: center;background: #ff4400;color:#fff;font-size:16px;outline:none;border:none;font-family:"Microsoft Yahei";cursor:pointer;}
.detail_content_left_content {margin-bottom: 100px;}
.detail_content_left_content_title {position: relative;background: #f7f7f7;height:40px;line-height:39px;z-index:1;}
.detail_content_left_content_title p {width: 102px;text-align: center;border-top:2px solid #ff4400;border-left:1px solid #dddcdc;border-right:1px solid #dddcdc;background: #fff;color:#ff4400;font-size:14px;}
.detail_content_left_content_detail {border:1px solid #dddcdc;}