.dynamics-box {min-width: 1080px;}
.dynamic-list, .dynamic-detail {width: 1080px; margin: 0 auto; padding: 50px 30px; box-sizing: border-box;}
.dynamic-item {padding: 10px 0; border-bottom: solid 1px #EDEDED;}
.dynamic-item > span {display: inline-block; text-align: center; font-size: 13px;}
.dynamic-item > span:first-child {width: 15%;}
.dynamic-item > span:nth-child(2) {width: 65%; text-align: left!important;}
.dynamic-item > span:last-child {width: 15%;}
/* 分页 */
#pagination {text-align: center; margin-top:20px;}
#pagination > ul {display: inline-block;}
.prev, .next {width: 65px !important; background-color: #fcc741; border: none !important;}
#pagination > ul > li {float: left;}
#pagination > ul > li > span,  #pagination > ul > li > a{display: inline-block; width: 35px; height: 30px; line-height: 30px; text-align: center; margin-right: 8px; border: solid 1px #dfdede;}
.active > a, .active > span {background-color: #f74132; color: #fff;}
.disabled > a, .disabled > span {background-color: #dfdede!important;}

.dynamic-detail > h2 {text-align: center;}
.dynamic-detail > p {text-indent: 15px; padding: 10px 40px; font-size: 14px; word-break: break-all;}