/*header*/
        .header {height: 50px;background: #fbf8f7;box-shadow:0px 3px 3px rgba(0,0,0,0.1);}
        .header_left li {float: left;font-size: 14px;color: #4C687E;line-height: 50px;margin-right: 18px;}
        .header_right {float: right;}
        .header_right li {float: left;font-size: 14px;color: #4C687E;line-height: 50px;margin-left: 15px;}
        /*navigator*/
        .navigator_left {width: 835px;float: left;}
        .logo {height:50px;margin-top: 12px;margin-bottom: 14px;}
        .navigator_ul li {float:left;font-size:16px;margin-right: 32px;line-height:30px;}
        .navigator_right {margin-top: 61px;float: right;}
        .telNumber {font-size: 16px;line-height: 36px;color:#fc6b13;padding-left: 28px;background: url(../img/home/tel.png) no-repeat left center;}
        .telNumber_title {color:#fc6b13;line-height:14px;text-align: right;}
        /* main_image */
        .main_visual{height:422px;border-top:1px solid #d7d7d7;overflow:hidden;position:relative;}
        .main_image{height:422px;overflow:hidden;position:relative;}
        .main_image ul{width:9999px;height:422px;overflow:hidden;position:absolute;top:0;left:0}
        .main_image li{float:left;width:100%;height:422px;}
        .main_image li span{display:block;width:100%;height:400px}
        .main_image li a{display:block;width:100%;height:400px}
        .main_image li .img_1{background:url('../img/home/banner1.png') center top no-repeat}
        .main_image li .img_2{background:url('../img/home/banner2.png') center top no-repeat}
        div.flicking_con{position:absolute;top:360px;left:50%;z-index:999;width:300px;height:21px;margin:0 0 0 -20px;}
        div.flicking_con a{float:left;width:21px;height:21px;margin-right:10px;padding:0;background:#666;display:block;text-indent:-1000px;border-radius:50%;}
        div.flicking_con a.on{background:#fff;}
        #btn_prev,#btn_next{z-index:1000;display:none;top:150px;width:38px !important;height:78px !important;position:absolute;background-repeat: no-repeat;background-position: center center;}
        #btn_prev{background-image:url(../img/home/prev.png);cursor:pointer;background-color: rgba(51,51,52,0.4);border: 1px solid #ccc;left:100px;}
        #btn_prev:hover {background-image:url(../img/home/prev_active.png);}
        #btn_next{background-image:url(../img/home/next.png);cursor:pointer;background-color: rgba(51,51,52,0.4);border: 1px solid #ccc;right:100px;}
        #btn_next:hover {background-image:url(../img/home/next_active.png);}
        .main_visual .content {position: relative;}
        .main_visual .loginBox {position: absolute;top:30px;right:15px;width: 312px;background: rgba(0,0,0,0.5);z-index:10;　background-color:transparent; 
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#808080);}
        .loginBox_title {color:#fff;border-bottom:5px solid #3499FF;letter-spacing: 10px;padding-left: 10px;text-align: center;line-height: 45px;font-size: 18px;}
        .loginBox_center {width: 240px;margin:0px auto;}
        .username {position:relative;}
        .username:before {position: absolute;left: 0px;top: 11px;content:"";display:inline-block;width:50px;height:50px;background: url(../img/home/user.png) no-repeat left center;}
        .username input {width: 190px;height: 43px;font-size: 14px;padding: 0px;border: none;padding-left: 50px;line-height: 43px;outline: none;background-color: #fff;margin:15px 0px 10px 0px;}
        .password {position:relative;}
        .password:before {position: absolute;left: 0px;top: 0px;content:"";display:inline-block;width:50px;height:43px;background: url(../img/home/password.png) no-repeat left center;}
        .password input {width: 190px;height: 43px;font-size: 14px;padding: 0px;border: none;padding-left: 50px;line-height: 43px;outline: none;background-color: #fff;}
        .forget_password {line-height:32px;text-align: right;margin-bottom: 11px;}
        .forget_password a {color:#fff;}
        .login_button {width: 230px;height: 43px;margin-bottom:12px;background: #3499FF;color: #fff;text-align: center;letter-spacing: 10px;padding-left: 10px;font-size: 18px;outline: none;border-radius: 4px;cursor: pointer;border: none;font-family: "Microsoft Yahei";}
        .login_button:hover {background: #258ffa;}
        .goRegister {text-align: right;line-height: 32px;}
        .goRegister a {color:#fc6b13;}
        /*mediaType*/
        .mediaType_title {border-bottom:2px solid #78ccef;margin-top: 25px;padding:0px 13px 0px 15px;}
        .mediaType_title li {float: left;font-size: 18px;line-height: 44px;padding-left: 10px;padding-right: 8px;cursor: pointer;color:#474747;}
        .mediaType_title li:hover {border-bottom: 1px solid #10b5fa;}
        .mediaType_title span {float: left;display: inline-block;width: 38px;height: 25px;margin-top: 12px;}
        .mediaType_title .active {color:#3499FF;}
        .media1 span {background: url('../img/home/spirit01.png') no-repeat 0 -27px;}
        .media2 span {background: url('../img/home/spirit01.png') no-repeat 0 -94px;}
        .media3 span {background: url('../img/home/spirit01.png') no-repeat 0 -153px;}
        .media4 span {background: url('../img/home/spirit01.png') no-repeat 0 -208px;}
        .media5 span {background: url('../img/home/spirit01.png') no-repeat 0 -268px;}
        .media6 span {background: url('../img/home/spirit01.png') no-repeat 0 -391px;}
        .media1.active span {background: url('../img/home/spirit01.png') no-repeat 0 0px;}
        .media2.active span {background: url('../img/home/spirit01.png') no-repeat 0 -66px;}
        .media3.active span {background: url('../img/home/spirit01.png') no-repeat 0 -126px;}
        .media4.active span {background: url('../img/home/spirit01.png') no-repeat 0 -179px;}
        .media5.active span {background: url('../img/home/spirit01.png') no-repeat 0 -240px;}
        .media6.active span {background: url('../img/home/spirit01.png') no-repeat 0 -352px;}
        .media1.active span {background: url('../img/home/spirit01.png') no-repeat 0 0px;}
        .media2.active span {background: url('../img/home/spirit01.png') no-repeat 0 -66px;}
        .media3.active span {background: url('../img/home/spirit01.png') no-repeat 0 -126px;}
        .media4.active span {background: url('../img/home/spirit01.png') no-repeat 0 -179px;}
        .media5.active span {background: url('../img/home/spirit01.png') no-repeat 0 -240px;}
        .media6.active span {background: url('../img/home/spirit01.png') no-repeat 0 -352px;}
        .mediaType_title .active {border-bottom: 1px solid #10b5fa;}
        .mediaType_title .mediaMore {float: right;line-height: 34px;margin-top: 10px;}
        .mediaType_title .mediaMore:hover {border:none;}
        .mediaMore a {font-size:14px;line-height: 34px;color: #a3a3a3;}
        .mediaMore a:hover {color:#1fabe5;}
        .starList {margin-left: -28px;display:none;}
        .starList li {float: left;margin-left: 28px;}
        .starBox {position: relative;width: 340px;height: 132px;border:1px solid #eeeeee;margin-top: 25px;}
        .starBox:hover {box-shadow: 0 0 8px #b7b7b7;}
        .starImg {position: absolute;left:10px;top:23px;width:92px;height:92px;border-radius:50%;}
        .starPro {margin-left: 115px;margin-top: 18px;height: 104px;overflow: hidden;}
        .starName {color:#1fabe5;font-size:14x;line-height:14px;}
        .starTitle {font-size:12px;color:#999;line-height:22px;height:48px;margin-top: 4px;overflow:hidden;}
        .starFansNum {margin-top: 14px;color:#999;}
        /*article*/
        .article {margin-top: 20px;}
        .article_item {width: 510px;}
        .article_item_title {position: relative;border-bottom: 1px solid #1fabe5;}
        .article_item_title p {padding-left:32px;margin-left: 27px;font-size:18px;color:#474747;line-height:50px;}
        .article_item_title span {position: absolute;left:160px;top:18px;font-size: 14px; color:#aeaeaf;}
        .article_item_title a {position: absolute;top:20px;right:3px;color:#a3a3a3;font-size:14px;}
        .article_item_title a:hover {color:#1fabe5;}
        .industryNews_title p {background: url(../img/home/art1.png) no-repeat left center;}
        .promotionSkills_title p {background: url(../img/home/art2.png) no-repeat left center;}
        .article_content {position: relative;height: 200px;border:1px solid #b4e0f2;margin-top: 17px;}
        .article_content:hover { box-shadow: 0 2px 2px #999;}
        .article_content img {position: absolute;left:8px;top:8px;width: 153px;height: 182px;}
        .article_content_description {margin-left: 174px;margin-top: 11px;font-size:12px;line-height:26px;color:#414142;}
        .article_content_description .explain {color:#aeaeaf;line-height:20px;margin:15px 0px;}
        /*enterprise honor*/
        .content_title {position: relative;margin-top: 50px;border-bottom:1px solid #1fabe5;}
        .content_title p {padding-left: 32px;margin-left: 27px;font-size: 18px;color: #474747;line-height: 50px;}
        .companyHonor_title p {background: url(../img/home/comHor.png) no-repeat left center;}
        .content_title span {position: absolute;left: 160px;top: 18px;font-size: 14px;color: #aeaeaf;} 
        .companyHonor_content {margin-top: 20px;}
        .companyHonor_content li{float: left;width: 262px;margin-right: 8px;}
        .companyHonor_img {width: 250px;height: 162px;border:1px solid #dde9fa;background: url(../img/home/honor1.png) no-repeat center center;font-size:16px;text-align: center;line-height:30px;}
        .companyHonor_img .year {margin-top: 48px;}
        .companyHonor_name {line-height:36px;text-align: center;font-size:14px;color:#7a7a7a;}
        /*recruitment*/
        .recruitment_title {position: relative;}
        .recruitment_title p {padding-left: 40px;margin-left: 19px;background: url(../img/home/r.png) no-repeat left center;}
        .recruitment_item {position: absolute;top:18px;right:40px;font-size:14px;color:#474747;}
        .recruitment_item li {float: left;padding: 0px 19px;line-height:32px;cursor: pointer;}
        .recruitment_item .active {background: url(../img/home/arrow1.png) no-repeat center bottom;}
        .recruitment_content {margin-top: 10px;border:1px solid #91c2d6;}
        .recruitment_content_title {background: #f3f3f3;}
        .recruitment_content_title li {float: left;width: 142px;font-size:16px;color:#514e4e;margin:0px 70px 0px 55px;text-align: center;line-height:58px;}
        .positons {background: url(../img/home/j1.png) no-repeat left center;}
		.jobExp {background: url(../img/home/j2.png) no-repeat left center;}
		.education {background: url(../img/home/j3.png) no-repeat left center;}
		.location {background: url(../img/home/j4.png) no-repeat left center;}
		.recruitment_requirement li {float: left;width: 24%;text-align: center;font-size:14px;color:#5f5f5f;line-height:50px;cursor: pointer;}
		.moreRecruitment {line-height:66px;text-align: center;font-size:14px;border-top: 1px solid #f7f3f3;}
		.moreRecruitment a {color:#5f5f5f;}
		.moreRecruitment a:hover {color:#1fabe5;}
		/*friendLink_title*/
		.friendLink_title {border:none;margin-top: 44px;}
		.friendLink_title p {background: url(../img/home/fl1.png) no-repeat left center;}
		.friendLink_content_box {overflow: hidden;border:1px solid #e6e2e2;margin-bottom:60px;}
		.friendLink_content {height: 99px;padding:20px 5px;}
		.friendLink_content li {float: left;height: 91px;border:1px solid #e4e4e4;margin-right: 18px;}
		.friendLink_content img {width: 190px;height: 90px;box-shadow: 0 0 10px #cfcfcf;}
		.scroll {width:8000px;}
		/*login*/
		.error-prompt {font-size:14px;margin-top: 10px;}
		.imageCode_box {margin-top:10px;}
		.captchaPic {display: inline-block;background-color: #fff;float:right;margin-left: 5px;width: 110px;height: 36px;cursor:pointer;}
		.imageCode_input {width: 107px;height: 30px;float: left;line-height: 30px;background-color: #fff;font-size: 16px;padding-left: 10px;}
		.jobDetails {display:none;}
		.jobDetails.active {display:block;}