.contactUsBox {border-top:2px solid #29afe6;}
.contactUs_left {float: left;width:222px;border:1px solid #ddd;margin-top: 16px;min-height:500px;}
.contactUs_left a {float: left;height: 53px;line-height: 53px;width: 222px;font-size: 14px;text-align: center;cursor: pointer;border-bottom: 1px solid #ddd;color: #8d8d8f;}
.contactUs_left .active {font-size:18px;color:#686868;background: url(../img/other/nav_active.jpg) no-repeat center center;}
.contactUs_right {width: 795px;min-height:500px;margin-top: 18px;background-color: #FFF;float: right;}