<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>自媒体平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/otherPage.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dwHZI4oWAObUX9RbnNK3fplyssTkPnEY"></script>
</head>
<body>

    <!-- 头部 -->
    #parse("templates/view/head.html")
    
    <div class="contactUsBox">
        <div class="content clearfix">
            <img src="../img/other/advertise.png" alt="">
            <div class="contactUs clearfix">
                <ul class="contactUs_left clearfix">
                    <li><a href="/aboutUs">关于我们</a></li>
                    <li><a class="active" href="/contactUs">联系我们</a></li>
                </ul>
                <div class="contactUs_right">
                    <div class="baiduMap">
                     <div style="width:100%;height:365px;border:#ccc solid 1px;font-size:12px" id="map"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 尾部 -->
    #parse("templates/view/footer.html")
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/contactUs.js"></script>
</body>
</html>