<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>自媒体平台</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login/common.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login/home.css">
</head>
<body>
  <!-- Top Header -->
  <header>
    <div class="middle-area">
      <img src="/static/img/login/logo.png" alt="logo">
      <ul class="top-nav">
        <li></li>
      </ul>
    </div>
  </header>
  <!-- Main Content -->
  <div class="main">
    
  </div>
  <!-- Footer -->
  <footer>
    
  </footer>
</body>
</html>