<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>自媒体平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/orderDetail.css">
    <style>
        .form-content {position:relative;}
        .form-content label.error {position: absolute;text-align: left;top: 0px;left: 616px;font-size: 12px;color: red;font-weight: 500;margin-left: 20px;}
    </style>
</head>
<body>
     <!-- 头部 -->
    #parse("templates/view/head.html")
    
    
    <div class="advertiseBox">
        <div class="content">
            <img src="/static/img/other/advertise.png" alt="">
            <div class="advertiseContent" style="margin-top:15px;">
                <form action="/spread/add" method="post" id="mySpreadForm">
                    <div class="form-group clearfix">
                        <label><span class="form-require">*</span>详细需求</label>
                        <div class="form-content">
                            <textarea class="form-textarea" name="text" placeholder="请尽量详细描述你的需求，我们的客服MM会根据您的需求，为您量身打造专业的推广计划"></textarea>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label><span class="form-require">*</span>联系人</label>
                        <div class="form-content">
                            <input type="text" name="contact" class="form-input" placeholder="请输入联系人的名字"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label><span class="form-require">*</span>联系电话</label>
                        <div class="form-content">
                            <input type="text" name="phone" class="form-input" placeholder="请输入联系人的手机号码"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label><span class="form-require">*</span>参考价格</label>
                        <div class="form-content">
                            <input type="text" name="price" class="form-input" placeholder="请输入您的参考价格"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label>投放平台</label>
                        <div class="form-content">
                            <select class="form-method" name="platform">
                                <option value="不限">不限</option>
                                <option value="微信">微信</option>
                                <option value="微博">微博</option>
                                <option value="陌陌">陌陌</option>
                                <option value="腾讯">腾讯</option>
                                <option value="今日头条">今日头条</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label></label>
                        <div class="form-content">
                            <input type="submit" value="发布给MM" class="orderCommit"  style="margin-top:30px;line-height:30px">
                            <p style="color:#666;font-size:12px;">确认提交给我们的客服MM，我们的客服会在三个工作日内，提供我们专业的推广计划。</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    #parse("templates/view/footer.html")
    <script type="text/javascript" src="static/js/lib/jquery.js"></script>
    <script type="text/javascript" src="static/js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="static/js/mySpread.js"></script>
</body>
</html>