<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>自媒体平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/otherPage.css">
    <style>
        .contactUsBox {border-top:2px solid #29afe6;}
        .contactUs_left {float: left;width:222px;border:1px solid #ddd;margin-top: 16px;min-height:500px;}
        .contactUs_left a {float: left;height: 53px;line-height: 53px;width: 222px;font-size: 14px;text-align: center;cursor: pointer;border-bottom: 1px solid #ddd;color: #8d8d8f;}
        .contactUs_left .active {font-size:18px;color:#686868;background: url(/static/img/other/nav_active.jpg) no-repeat center center;}
        .contactUs_right {width: 795px;min-height:500px;margin-top: 18px;background-color: #FFF;float: right;}
        .perCenter_title {height: 34px;line-height: 34px;color: #8d8d8f;border: 1px solid #ccc;padding-left: 18px;margin: 14px 0px;}
        .goPay_confirm {padding: 5px 10px;font-size: 12px;line-height: 1.5;border-radius: 3px;background-color: #f88613;color: #FFF;text-align: center;cursor: pointer;border: none;font-family: "Microsoft Yahei";}
        .pay_items {margin-bottom:20px;font-size:16px;color:#8d8d8f;}
    </style>
</head>
<body>
    
    <!-- 头部 -->
    #parse("templates/view/head.html")
    <div class="contactUsBox">
        <div class="content">
            <img src="/static/img/other/advertise.png" alt="">
            <p class="perCenter_title">您的位置： 个人中心</p>
            <div class="contactUs clearfix">
                <ul class="contactUs_left">
                    <li><a href="">个人资料</a></li>
                    <li><a href="">资料编辑</a></li>
                    <li><a href="">修改密码</a></li>
                    <li><a href="">历史订单</a></li>
                    <li><a href="/pay/alipay/recharge" class="active" >充值</a></li>
                </ul>
                <div class="contactUs_right">
                    <p class="pay_items"> 商品名称:&nbsp;&nbsp;$settle.getSubject()</p>
		        	<p class="pay_items">充值金额:&nbsp;&nbsp;$settle.getTotalFeeMoney().toYuan() 元</p>
		        	<form id="alipaysubmit" name="alipaysubmit" action="$!submitUrl" method="POST">
		        		#foreach($param in $payParam.entrySet())
		        			<input type="hidden" name="$param.key" value="$param.value" />
		        		#end
		        		<input type="submit" class="goPay_confirm" value="确认支付宝充值" > <!-- submit按钮控件请不要含有name属性 -->
		        	</form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 尾部 -->
    #parse("templates/view/footer.html")
    <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
</body>
</html>