.App {
  text-align: center;
  .ant-layout-header {
    background: #576a91;
    z-index: 999;
    //height: 46px;
    .totalMoney {
      font-size: 14px;
      font-weight: 600;
      padding: 8px 15px;
      border: 1px solid hsla(0,0%,100%,.3);
      border-radius: 5px;
      color: #ffffff;
      //margin-right: 8px;
      white-space: nowrap;
      text-transform: uppercase;
    }
    .ant-menu {
      color: #ffffff;
      background: #576a91;
      line-height: 64px;
      border: none;
      .ant-menu-submenu-selected {
        color: inherit;
      }
      .ant-menu-item-selected {
        background: inherit;
        color: inherit;
      }
      li {
        border: none;
      }
    }
  }
  .play {
    background: #596080;
    padding: 20px 0;
    .ant-layout {
      background: inherit;
      .ant-layout-content {
        background: #ffffff;
        
        .ant-tabs {
          .ant-tabs-bar{
            height: 46px;
            margin-bottom: 0px;
            .ant-tabs-nav-container{
              height: 46px;
              .ant-tabs-nav {
                width: 100%;
                .ant-tabs-tab {
                  width: 50%;
                  height: 46px;
                  line-height: 46px;
                  padding: 0px;
                  border: none;
                  margin: 0px;
                  .ant-btn-primary{
                    height: 52px;
                  }
                }
              }
            }
          }
          .ant-tabs-content{
            padding: 11px 30px 20px;
            .manualBet {
               
               .profit {
                 span {
                  border: 1px solid #d4d5e3;
                  color: #474c6c;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  border-radius: 3px;
                  font-size: 18px;
                  font-weight: 600;
                  flex-grow: 1;
                  justify-content: center;
                  height: 52px;
                 }
               }
              .label {
                text-align: left;
              }
              .betMnoey {
                height: 52px;
                width: 190px;
                font-size: 14px;
                font-size: 18px;
                padding: 0 0 0 20px;
                color: #474c6c;
                background: #f2f4f8;
                flex-grow: 1;
                border: none;
              }
              button {
                font-size: 13px;
                font-weight: 500;
                padding: 17px 0;
                transition: all .2s;
                text-transform: uppercase;
                color: #fff;
                border: none;
                border-right: 1px solid #819ecd;
                background: #90b0e5;
                box-shadow: inset 0 -2px 0 rgba(0,0,0,.1);
                height: 52px;
              }
              button:hover, button:focus{
                border-color: inherit;
              }
              .fl{
                float: left;
              }
              .mr20 {
                margin-right: 20px;
              }
              .winRate {
                height: 96px;
                margin-top: 20px;
                font-size: 12px;
                font-weight: 700;
                display: flex;
                margin-top: 20px;
                padding: 10px;
                text-align: center;
                text-transform: uppercase;
                color: rgba(71,76,108,.6);
                border-radius: 3px;
                background: #f2f4f8;
                position: relative;
                >div {
                  width: 33.3%;
                  padding: 10px 0 3px;
                  >div {
                    height: 40px;
                    font-size: 20px;
                    line-height: 40px;
                    color: #474c6c;
                    cursor: pointer;
                  }
                }
                .rollover {
                  background: #fff;
                  cursor: pointer;
                }
                .has-break::after{
                  position: absolute;
                  top: 25%;
                  left: 66%;
                  width: 1px;
                  height: 50%;
                  content: "";
                  background: rgba(77, 92, 113, 0.2);
                }
                
              }
              .throw {
                font-size: 18px;
                text-align: center;
                position: relative;
                margin-top: 20px;
                padding: 25px 70px;
                height: 75px;
                line-height: 75px;
                border: none;
                width: 175px;
                padding: 0px;
                cursor: pointer;
               }
            }
          }
        }
      }
      
    }
    
    
    
    
    
  }
  
}
