.App {
  text-align: center;
  .ant-layout-header {
    background: #576a91;
    z-index: 999;
    //height: 46px;
    .totalMoney {
      font-size: 14px;
      font-weight: 600;
      padding: 8px 15px;
      border: 1px solid hsla(0,0%,100%,.3);
      border-radius: 5px;
      color: #ffffff;
      //margin-right: 8px;
      white-space: nowrap;
      text-transform: uppercase;
    }
    .ant-menu {
      color: #ffffff;
      background: #576a91;
      line-height: 64px;
      border: none;
      .ant-menu-submenu-selected {
        color: inherit;
      }
      .ant-menu-item-selected {
        background: inherit;
        color: inherit;
      }
      li {
        a {
          color: inherit;
        }
        border: none;
      }
    }
  }
}
