<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>折线图</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="graph_flot.html#">选项1</a>
                                </li>
                                <li><a href="graph_flot.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-line-chart"></div>
                    </div>
                </div>
            </div>
 </div>
 
 <script src="/static/js/plugins/echarts/echarts-all.js"></script>
 <script>
 $(function() {
	    var e = echarts.init(document.getElementById("echarts-line-chart")),
	    a = {
	        title: {
	            text: "未来一周用户登录情况"
	        },
	        tooltip: {
	            trigger: "axis"
	        },
	        legend: {
	            data: ["用户数量"]
	        },
	        grid: {
	            x: 40,
	            x2: 40,
	            y2: 24
	        },
	        calculable: !0,
	        xAxis: [{
	            type: "category",
	            boundaryGap: !1,
	            data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
	        }],
	        yAxis: [{
	            type: "value",
	            axisLabel: {
	                formatter: "{value} 个"
	            }
	        }],
	        series: [{
	            name: "人数",
	            type: "line",
	            data: [11, 11, 15, 13, 12, 13, 10],
	            markPoint: {
	                data: [{
	                    type: "max",
	                    name: "最大值"
	                },
	                {
	                    type: "min",
	                    name: "最小值"
	                }]
	            }
	        }]
	    };
	    e.setOption(a),
	    $(window).resize(e.resize);
	});
 </script>