/* 清除原有格式以及通用样式 */
html, header, body, div, span, p, ul, li, a, footer, h5, input, i, button {margin: 0; padding: 0; border: 0; box-sizing: border-box;}
body {min-width: 1080px; min-height: 600px; font-family: "Microsoft Yahei"}
ul, li {list-style: none;}
i {font-style: normal;}
a, a:visited, a:hover, a:link {text-decoration: none; color: #000;}
.clearfix {zoom: 1;}
.clearfix:after {content: ""; display: block; clear: both; height: 0;}

/* Header */
header {width: 100%; height: 110px; border-bottom: solid 2px #1fabe6;}
.head-body {width: 1080px; height: 100%; margin: 0 auto;}
.head-body img {width: 153px; height: 51px; margin: 17px 0 0 0;}
.nav > li {float: left; padding: 10px;}
.nav > li > a:hover {color: red; cursor: pointer;}
img {width: 100%;}

/* 底部样式 */
footer {position: fixed; left: 0; bottom: 0; width: 100%; height: 150px; background-color: #000;}
.foot-body {width: 1000px; height: 100%; margin: 0 auto; font-size: 14px;}
.l-row {text-align: center; color: #55473d; margin-top: 10px;}
.l-row > ul {display: inline-block; margin-top: 20px;}
.l-row > ul > li {float: left; padding: 0 7px; border-right: solid 1px #55473d;}
.l-row > ul > li > a {color: #55473d;}