/* 头部 */
header {width: 100%; height: 85px; }
.head-body {width: 1080px; height: 100%; margin: 0 auto;}
.head-body img {width: 153px; height: 51px; margin: 17px 0 0 10px;}

/* 主体 */
.main {position: absolute; top: 85px; bottom: 150px; left: 0; width: 100%; 
  background: url("../img/login_bg.png") center center no-repeat; background-size: 100% 100%;}
.main-body {width: 1080px; margin: 0 auto; position: relative;}
.login-title {padding: 100px 0 0 120px;}
.login-box {width: 308px; height: 320px; position: absolute; top: 40px; right: 20px; background-color: rgba(0,0,0,0.5);}
.login-box > h5 {text-align: center; margin-top: 30px; font-size: 18px; color: #fff;}
.login-inner-box {padding: 20px;}
.input-box > input {width: 265px; height: 36px; line-height: 36px; padding-left: 40px; background-color: #fff; font-size: 16px;}
.input-box:before {content: ""; display: inline-block; width: 36px; height: 36px; background-color: #000; opacity: .4; 
  position: absolute; background-position: center center; background-repeat: no-repeat; background-size: 18px;}
.input-box:first-child:before {background-image: url("../img/user.png");}
.input-box:nth-child(2):before {background-image: url("../img/password.png");}
.input-box {margin-bottom: 20px; position: relative;}
.register > a {display: inline-block; width: 50%; font-size: 14px; color: #fff; float: left;}
.register > a:last-child {text-align: right; color: #fc6b13;}
.login-btn {width: 260px; height: 40px; line-height: 40px; text-align: center; background-color: #1fabe5; 
    margin: 30px auto 0; border-radius: 5px; color: #fff; cursor: pointer; font-size: 18px}
.login-btn:hover {background-color: #258ffa;}