<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="/home/dev/logs" />
    <property name="LOG_PRO" value="web" />
    <substitutionProperty name="default_pattern" value="%n               ----- %msg%n" />
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger:%line]${default_pattern}</Pattern>
		</encoder>
	</appender>

	<appender name="APP_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_PRO}-info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/${LOG_PRO}-info.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%thread] [%C-%L]${default_pattern}</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
        	<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="APP_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_PRO}-error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/${LOG_PRO}-error.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger:%line]${default_pattern}</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>  
        	<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<appender name="APP_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/${LOG_PRO}-warn.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_DIR}/${LOG_PRO}-warn.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] [%logger:%line]${default_pattern}</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>  
        	<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<root>
		<level value="INFO" />
        <appender-ref ref="APP_INFO" />
        <appender-ref ref="APP_ERROR" />
        <appender-ref ref="APP_WARN" />
        <appender-ref ref="STDOUT" />
	</root>
</configuration>