 <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                    	<table data-toggle="table" data-url="/user/listJson"
					       data-side-pagination="server"
					       data-pagination="true"
					       data-page-list="[10, 20, 50, 100, 200]"
					       data-toolbar="#toolbar"
					       data-sort-order="desc" class="table table-hover">
						    <thead>
						    <tr>
						        <th data-field="username">用户名</th>
						        <th data-field="phone">联系电话</th>
						        <th data-field="qq">qq</th>
						        <th data-field="comShort">公司名称</th>
						        <th data-field="balance">账户余额</th>
						        <th data-field="createTime">注册时间</th>
	            				<th data-field="id" data-formatter="operation">操作</th>
						    </tr>
						    </thead>
						</table>
                    </div>
                </div>
            </div>
        </div>
    
	<script>
		//格式化操作
	    function operation(value) {
	        return '<a href="/user/balance?id=' + value + '" >修改余额</a>';
	    }
	</script>