#macro ( direct $direct-output )$!direct-output#end
#macro ( c $paras )
	#if($!paras)
		#set($content = "")
		#set($key = "")
		#set($value = "")
		#foreach($para in $paras)
			#if($velocityCount == 1)
				#set($content = $contain.get($!para))
			#else
				#if($velocityCount % 2 == 0)
					#set($key = $para)
				#else
					#set($value = $para)
				#end
				#set($content = $content.setParameter($key, $value))
			#end
		#end
		$!content
	#end
#end

## pageNum        totalPages
## currentPage   number

#macro(pager $url $pager)
<ul class="pagination">
    #set($FRONT_LEN = 4)
    #set($BEHIND_LEN = 5)
    #set($PAGER_LEN = 10)
    #set($PAGER_CENTER = $!{P_TOTALPAGES} - $!{BEHIND_LEN})
    #set($P_NUMBER = $!{pager.number} + 1)
    #set($P_TOTALPAGES = $!{pager.totalPages})
    <li #if($!{P_NUMBER} == 1) class="disabled"#end>
        <a href="$!{url}?page=1">&laquo;</a>
    </li>
    #if($!{P_TOTALPAGES} <= $!{PAGER_LEN})
        #foreach($p in [1..$!{P_TOTALPAGES}])
            <li #if($!{P_NUMBER} == $!{p}) class="active" #end>
                <a href="$!{url}?page=$!{p}">$!{p}</a>
            </li>
        #end
    #elseif($!{P_TOTALPAGES} > $!{PAGER_LEN})
        #if($!{P_NUMBER} <= $!{FRONT_LEN})
            #foreach($p in [1..10])
                <li #if($!{P_TOTALPAGES} == $!{p}) class="active" #end>
                    <a href="$!{url}?page=$!{p}">$!{p}</a>
                </li>
            #end
        #elseif($!{P_NUMBER} < $!{PAGER_CENTER})
            #set($header = $!{P_NUMBER} - $!{FRONT_LEN})
            #set($ender = $!{P_NUMBER} + $!{BEHIND_LEN})
            #foreach($p in [$!{header}..$!{ender}])
                <li #if($!{P_NUMBER} == $!{p}) class="active" #end>
                    <a href="$!{url}?page=$!{p}">$!{p}</a>
                </li>
            #end
        #else
            #set($begin = $!{P_TOTALPAGES} - $!{FRONT_LEN} - $!{BEHIND_LEN})
            #foreach($p in [$!{begin}..$!{P_TOTALPAGES}])
                <li #if($!{P_NUMBER} == $!{p}) class="active" #end>
                    <a href="$!{url}?page=$!{p}">$!{p}</a>
                </li>
            #end
        #end
    #end
    <li #if($!{P_NUMBER} == $!{P_TOTALPAGES}) class="disabled"#end>
        <a href="$!{url}?page=$!{P_TOTALPAGES}">&raquo;</a>
    </li>
</ul>
#end
