        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <form method="post" action="/manager/tss/query" class="form-horizontal">

                            #springBind("orderQueryForm.noTypeEnums")
                            <div class="form-group">
                                <label class="col-sm-2 control-label">订单号类型</label>
                                <div class="col-sm-4">
                                    <select class="form-control m-b" name="${status.expression}">
                                        #foreach( $noType in $NoTypeEnums )
                                            #if($no && $no==$noType)
                                            <option checked="" value="$noType"  >$noType.getDesc()</option>
                                            #else
                                             <option value="$noType"  >$noType.getDesc()</option>
                                            #end
                                        #end
                                    </select>
                                </div>
                            </div>

                            #springBind("orderQueryForm.no")
                            <div class="form-group">
                                <label class="col-sm-2 control-label">订单号</label>
                                <div class="col-sm-4">
                                    <input type="text" name="${status.expression}" value="$!{status.value}" class="form-control">
                                    <span class="help-block m-b-none error-text">${status.errorMessage}</span>
                                </div>
                                <div class="col-sm-4 col-sm-offset-2" style="margin-left:0px;">
                                    <button class="btn btn-primary" type="submit">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            #if($tradeOrderPO)
            <!-- table -->
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">交易服务</a>&nbsp;-&nbsp;交易订单</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>凭证号</th>
                                <th>原始凭证号</th>
                                <th>付款方名称</th>
                                <th>付款方会员标识</th>
                                <th>付款方账户</th>
                                <th>收款方名称</th>
                                <th>收款方会员标识</th>
                                <th>收款方账户</th>
                                <th>金额</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>$!tradeOrderPO.getTradeVoucherNo()</td>
                                <td>$!tradeOrderPO.getTradeSrcVoucherNo()</td>
                                <td>$!tradeOrderPO.getBuyerName()</td>
                                <td>$!tradeOrderPO.getBuyerId()</td>
                                <td>$!tradeOrderPO.getBuyerAccountNo()</td>
                                <td>$!tradeOrderPO.getSellerName()</td>
                                <td>$!tradeOrderPO.getSellerId()</td>
                                <td>$!tradeOrderPO.getSellerAccountNo()</td>
                                <td>$numberTool.format("#0.00000000", $!tradeOrderPO.getTradeAmount())</td>
                                <td>#printlnStatus($!tradeOrderPO.getStatus())</td>
                                <td>$!tradeOrderPO.getRemark()</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!tradeOrderPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!tradeOrderPO.getUpdateTime())</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->

            <!-- table -->
            #if($settlementOrderPO)
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">结算服务</a>&nbsp;-&nbsp;结算订单</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>结算场次号</th>
                                <th>支付流水号</th>
                                <th>清算指令</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>$!settlementOrderPO.getSessionId()</td>
                                <td>$!settlementOrderPO.getPaymentSeqNo()</td>
                                <td>$!settlementOrderPO.getClearingCodeList()</td>
                                <td>$!settlementOrderPO.getStatus()</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!settlementOrderPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!settlementOrderPO.getUpdateTime())</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->


            <!-- table -->
            #if($settlementCarrierPOList)
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">支付</a>&nbsp;-&nbsp;清结算载体</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>场次类型</th>
                                <th>清算场次号</th>
                                <th>支付流水号</th>
                                <th>状态</th>
                                <th>结算类型</th>
                                <th>说明</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            #foreach( $settlementCarrierPO in $settlementCarrierPOList )
                            <tr>
                                <td>#printlnSettlementType($!settlementCarrierPO.getSettlementType())</td>
                                <td>$!settlementCarrierPO.getRequestNo()</td>
                                <td>$!settlementCarrierPO.getPaymentSeqNo()</td>
                                <td>$!settlementCarrierPO.getStatus()</td>
                                <td>$!settlementCarrierPO.getPaymentType()</td>
                                <td>$!settlementCarrierPO.getSummary()</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!settlementCarrierPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!settlementCarrierPO.getUpdateTime())</td>
                            </tr>
                            #end
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->

            <!-- table -->
            #if($clearingOrderInnerPOList)
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">支付</a>&nbsp;-&nbsp;清结算场次&nbsp;-&nbsp;内场</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>场次类型</th>
                                <th>清算场次号</th>
                                <th>支付流水号</th>
                                <th>清算指令</th>
                                <th>参与角色payee-付款方,payer-收款方</th>
                                <th>参与方</th>
                                <th>账户</th>
                                <th>金额</th>
                                <th>借贷方向</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            #foreach( $clearingOrderInnerPO in $clearingOrderInnerPOList )
                            <tr>
                                <td>#printlnSettlementType($!settlementCarrierPO.getSettlementType())</td>
                                <td>$!clearingOrderInnerPO.getSessionId()</td>
                                <td>$!clearingOrderInnerPO.getPaymentSeqNo()</td>
                                <td>$!clearingOrderInnerPO.getClearingCode()</td>
                                <td>$!clearingOrderInnerPO.getPartyRole()</td>
                                <td>$!clearingOrderInnerPO.getPartyId()</td>
                                <td>$!clearingOrderInnerPO.getAccountNo()</td>
                                <td>$numberTool.format("#0.00000000", $!clearingOrderInnerPO.getAmt())</td>
                                <td >#drcrDesc($!clearingOrderInnerPO.getDrcr())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!clearingOrderInnerPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!clearingOrderInnerPO.getUpdateTime())</td>
                            </tr>
                            #end
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->

            <!-- table -->
            #if($clearingOrderOuterPOList)
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">支付</a>&nbsp;-&nbsp;清结算场次&nbsp;-&nbsp;外场</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>场次类型</th>
                                <th>清算场次号</th>
                                <th>支付流水号</th>
                                <th>清算指令</th>
                                <th>参与角色</th>
                                <th>参与方</th>
                                <th>账户</th>
                                <th>金额</th>
                                <th>借贷方向</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            #foreach( $clearingOrderOuterPO in $clearingOrderOuterPOList )
                            <tr>
                                <td>#printlnSettlementType($!settlementCarrierPO.getSettlementType())</td>
                                <td>$!clearingOrderOuterPO.getSessionId()</td>
                                <td>$!clearingOrderOuterPO.getPaymentSeqNo()</td>
                                <td>$!clearingOrderOuterPO.getClearingCode()</td>
                                <td>$!clearingOrderOuterPO.getPartyRole()</td>
                                <td>$!clearingOrderOuterPO.getPartyId()</td>
                                <td>$!clearingOrderOuterPO.getAccountNo()</td>
                                <td>$numberTool.format("#0.00000000", $!clearingOrderOuterPO.getAmt())</td>
                                <td>#drcrDesc($!clearingOrderOuterPO.getDrcr())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!clearingOrderOuterPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!clearingOrderOuterPO.getUpdateTime())</td>
                            </tr>
                            #end
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->

            <!-- table -->
            #if($innerAccountDetailPOList)
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">交易明细</a>&nbsp;-&nbsp;内部交易明细</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>支付流水号</th>
                                <th>支付凭证号</th>
                                <th>账户</th>
                                <th>金额</th>
                                <th>借贷方向</th>
                                <th>备注</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            #foreach( $innerAccountDetailPO in $innerAccountDetailPOList )
                            <tr>
                                <td>$!innerAccountDetailPO.getPaymentSeqNo()</td>
                                <td>$!innerAccountDetailPO.getVoucherNo()</td>
                                <td>$!innerAccountDetailPO.getAccountNo()</td>
                                <td>#outDrcr($!innerAccountDetailPO.getDrcr()) $numberTool.format("#0.00000000", $!innerAccountDetailPO.getTxnAmt())</td>
                                <td>#drcrDesc($!innerAccountDetailPO.getDrcr())</td>
                                <td>$!innerAccountDetailPO.getTxnRemark()</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!innerAccountDetailPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!innerAccountDetailPO.getUpdateTime())</td>
                            </tr>
                            #end
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->

            <!-- table -->
            #if($outerAccountDetailPOList)
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="#">交易明细</a>&nbsp;-&nbsp;客户交易明细</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>支付流水号</th>
                                <th>支付凭证号</th>
                                <th>账户</th>
                                <th>金额</th>
                                <th>借贷方向</th>
                                <th>备注</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            #foreach( $outerAccountDetailPO in $outerAccountDetailPOList )
                            <tr>
                                <td>$!outerAccountDetailPO.getPaymentSeqNo()</td>
                                <td>$!outerAccountDetailPO.getVoucherNo()</td>
                                <td>$!outerAccountDetailPO.getAccountNo()</td>
                                <td>#outDrcr($!outerAccountDetailPO.getDrcr()) $numberTool.format("#0.00000000", $!outerAccountDetailPO.getTxnAmt())</td>
                                <td>#drcrDesc($!outerAccountDetailPO.getDrcr())</td>
                                <td>$!outerAccountDetailPO.getTxnRemark()</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!outerAccountDetailPO.getCreateTime())</td>
                                <td>$!dateTool.format('yyyy-MM-dd HH:mm:ss', $!outerAccountDetailPO.getUpdateTime())</td>
                            </tr>
                            #end
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            #end
            <!-- table -->

        </div>
