        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><a href="/manager/account/inner/list">刷新</a>&nbsp;&nbsp;账户科目列表</h5>
                    </div>
                    <div class="ibox-content">
                    <form id="form-list" method="post" action="">
                        <table class="table table-hover">
                            <thead>
                                <tr>
									<th >一级科目名称</th>
									<th >一级科目代码</th>
                                    <th >二级科目名称</th>
                                    <th >二级科目代码</th>
									<th>资产属性</th>
									<th>余额</th>
                                </tr>
                            </thead>
                            <tbody>
                                #foreach($item in $!dataMap.entrySet())
                                    <tr>
                                        <td >$item.key</td>
                                        <td >$AdminTool.printAccountName($item.key)</td>
                                    #foreach( $innerAccountPO in $!item.value )
                                        #if($velocityCount == 1)
                                            <td >$!innerAccountPO.accountNo</td>
                                            <td >$!innerAccountPO.accountName</td>
                                            <td >$!innerAccountPO.getDrcr().getDesc()</td>
                                            <td >$numberTool.format("#0.00000000", $!innerAccountPO.balance) (BIT)</td>
                                    </tr>
                                        #else
                                    <tr>
                                        <td ></td>
                                        <td ></td>
                                        <td >$!innerAccountPO.accountNo</td>
                                        <td >$!innerAccountPO.accountName</td>
                                        <td >$!innerAccountPO.getDrcr().getDesc()</td>
                                        <td >$numberTool.format("#0.00000000", $!innerAccountPO.balance) (BIT)</td>
                                    </tr>
                                        #end
                                    #end
                                #end


                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    

    				
    
